<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Portfolio</span>
        <span class="spacer"></span>
        <ul>
            <li><a mat-button routerLink="/about" routerLinkActive="mat-accent">About</a></li>
            <li><a mat-button routerLink="/work" routerLinkActive="mat-accent">Work</a></li>
            <li><a mat-button routerLink="/contact" routerLinkActive="mat-accent"><mat-icon>contact_support</mat-icon></a></li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>